@import '~bootstrap/scss/bootstrap';

body {
    background-image: url('../img/page_bg.jpg');
    background-size: cover;
    font-family: sans-serif;
}
header{
    a.active{
        font-weight: bold;
    }
}
#products{
    img{
        max-height: 210px;
    }
}
